 manifest {
  name = 'isugifNF/tutorial'
  author = 'Andrew Severin'
  homePage = 'www.bioinformaticsworkbook.org'
  description = 'nextflow bash'
  mainScript = 'main.nf'
  version = '1.0.0'
 }

params {

    query = "$PWD/input.fasta"
    dbDir = "$PWD/DB/"
    dbName = "blastDB"
    threads = 4
    outdir = "out_dir"
    outFileName = "input.blastout"
    options = "-evalue 1e-3"
    outfmt = "'6'"
    app = "blastn"
    help = false
    chunkSize = 1

}

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}

profiles {
  slurm { includeConfig './configs/slurm.config' }
  test { includeConfig './configs/test.config' }
docker {
    docker.enabled = true
  }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
}

